html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* elevation level 4 */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 15px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #e6e6e6;
}

.sidebar-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-sidebar-container {
    /* elevation level 4 */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
    background-color: white;
    border-radius: .5rem;
    position: relative;
}

.sidebar-action-button {
    border: none;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    padding: 5px;
}

.new-comment-container {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    /* elevation level 4 */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.new-comment-container:hover {
    /* elevation level 8 */
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.new-comment-container:focus-within {
    /* elevation level 8 */
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.main-sidebar-container-input {
    border: none;
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-sidebar-container-input::placeholder {
    color: #999;
    font-style: italic;
}

.main-sidebar-container-input:focus {
    min-height: 80px;
    transition: all 0.2s ease-out;
    outline: none;
}

.main-sidebar-container-input:focus + .buttons {
    height: 80px;
}

.main-sidebar-container-input:focus::placeholder {
    color: transparent;
}

.material-symbols-outlined {
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    border-color: #333;
}

.main-sidebar-container::-webkit-scrollbar {
    width: 9px;
    background-color: #cccccc;
    border-radius: 100vh;
}

.main-sidebar-container::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background-color: #666666;
}

.comment-container {
    /* elevation level 8 */
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: .5rem;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-container:hover {
    /* elevation level 14 */
    box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.comment-container:last-of-type {
    margin-bottom: unset;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username-and-comment-time {
    font-weight: bolder;
}

.comment-text {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.05em;
}

.comment-time {
    margin-left: 10px;
    color: #9e9e9e;
    font-size: .8em;
}

.comment-container > :not(.image-container) {
    padding-left: 15px;
    padding-right: 15px;
}

.comment-container > .image-container {
    max-height: 100px;
    display: flex;
}

.keyboard-return-icon {
    color: #0288d1;
}

.keyboard-return-icon:hover {
    border-color: #0288d1;
}

.done-icon {
    color: #2e7d32;
}

.done-icon:hover {
    border-color: #2e7d32;
}

/* Needs refactoring */
.buttons {
    display: none;
    justify-content: flex-end;
    padding-right: 15px;
    background-color: white;
}

button {
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: transparent;
}

button.save-btn {
    color: green;
}

button.screenshot-btn {
    color: blue;
}

button.cancel-btn {
    color: red;
}
